<div>
    <section id="content" class="animate-fade-up ng-scope">
        <h3>Students</h3>
        <div class="content_box">
            <div class="form-inline">
                <div class="form-group">
                    <label class="sr-only" for="searchFirstName">First Name</label>
                    <input type="text" class="form-control" id="searchFirstName" ng-model="searchFirstName" placeholder="First Name" />
                </div>
                <div class="form-group">
                    <label class="sr-only" for="searchFirstName">Last Name</label>
                    <input type="text" class="form-control" id="searchLastName" ng-model="searchLastName" placeholder="Last Name" />
                </div>
                <div class="form-group">
                    <button class="btn btn-info form-control" ng-click="searchStudent()"><span class="glyphicon glyphicon-search"></span></button>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" ng-click="addStudent()">
                        <span class="glyphicon glyphicon-user"></span>Create New Student
                    </button>
                </div>
            </div>
            <img src="/assets/img/loading.gif" data-ng-if="dataListShowLoading" />
            <div ng-show="!dataListShowLoading">
                <table class="table table-striped">
                    <thead>
                        <tr>

                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>ID</th>
                            <th>Email</th>
                            <th>Age</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="student in students">
                            <td>{{ student.FirstName }}</td>
                            <td>{{ student.LastName }}</td>
                            <td>{{ student.IdentityId }}</td>
                            <td>{{ student.Email }}</td>
                            <td>{{ student.Age }}</td>
                            <td>
                                <button class="btn" ng-click="editStudent(student)">
                                    <span class="glyphicon glyphicon-pencil"></span>Edit
                                </button>
                                <button class="btn" ng-click="deleteStudent(student)">
                                    <span class="glyphicon glyphicon-remove"></span>Delete
                                </button>
                                <button class="btn" ng-click="AddStudentScore(student)">
                                    <span class="glyphicon glyphicon-plus"></span>Add Score
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script type="text/ng-template" id="studentModal">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()">&times;</button>
                <h4 class="modal-title" id="myModalLabel" data-ng-if="student.Id==null">Create new student</h4>
                <h4 class="modal-title" id="myModalLabel" data-ng-if="student.Id!=null">Edit student</h4>
            </div>
            <div class="modal-body">
                <form role="form" name="form" novalidate>
                    <input type="hidden" ng-model="student.Id" />
                    <div class="form-group">
                        <label>First Name:</label>
                        <input type="text" ng-model="student.FirstName" placeholder="First Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Last Name:</label>
                        <input type="text" ng-model="student.LastName" placeholder="Last Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>ID:</label>
                        <input type="text" ng-model="student.IdentityId" placeholder="ID" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="text" ng-model="student.Email" placeholder="Email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Age:</label>
                        <input type="text" ng-model="student.Age" placeholder="Age" class="form-control" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                <button type="button" class="btn btn-primary" data-ng-click="ok()">Save</button>
            </div>
        </script>

        <script type="text/ng-template" id="deleteStudentModal">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()">&times;</button>
                <h4>Delete</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <p>Do you want to delete student {{deleteStudent.FristName}}?</p>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                <button class="btn btn-primary " ng-disabled="isShowSpinner" style="width:50px;" ng-click="ok()">Yes</button>
            </div>
        </script>

        <script type="text/ng-template" id="StudentScoreModal">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()">&times;</button>
                <h4 class="modal-title" id="myModalLabel" data-ng-if="student.Id==null">Add Student Score</h4>
            </div>
            <div class="modal-body">
                <form role="form" name="form" novalidate>
                    <input type="hidden" ng-model="studentScore.StudentId" />
                    <div class="form-group">
                        <label>Course:</label>

                        <select class="form-control" ng-model="studentScore.Course">
                            <option>english</option>
                            <option>chinese</option>
                            <option>physical education</option>
                            <option>music</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Score:</label>
                        <input type="text" ng-model="studentScore.Score" placeholder="Score" class="form-control" />
                    </div>
                    <div class="common_date_box add_date_box">
                        <input type="text" class="form-control" autocomplete="off" ng-model="studentScore.ExamTime" data-fm-label="Date" data-fm-date="mm/dd/yyyy" required />
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                <button type="button" class="btn btn-primary" data-ng-click="ok()">Save</button>
            </div>
        </script>
    </section>

</div>

